---
// Import Stylesheet
// Import Stylesheet
import '../styles/global.css';

// data source
const baseUrl = 'https://www.dnd5eapi.co';

let detailedData = [];
try {
  // Fetch the list of races
  const res = await fetch(`${baseUrl}/api/races`);
  const listData = await res.json();

  // Fetch detailed data for each race
  detailedData = await Promise.all(
    listData.results.map(async (race) => {
      const detailRes = await fetch(`${baseUrl}${race.url}`);
      const detail = await detailRes.json();
      return detail;
    })
  );
} catch (error) {
  console.error('Error fetching data:', error);
}
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />

		<!-- Normalize CSS -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">

		<title>Retreive and and display external API data with Astro</title>
	</head>
	<body>
		
		<header class="masthead">
			<h1 class="site-title">DnD Races</h1>
		</header>

		<main id="content" class="main-area">

			<ul class="cards">
				{
				  detailedData.map(race => (
					<li class="card-item">
					<a href="#">
					  <figure class="card">
						<img src="https://assets.codepen.io/16425/image-placeholder.png" alt={`Image for ${race.name}`} />
						<figcaption class="caption">
						  <h3 class="caption-title">{race.name}</h3>
						  <p><strong>Speed:</strong> {race.speed}</p>
						  <p><strong>Alignment:</strong> {race.alignment}</p>
						  <p><strong>Age:</strong> {race.age}</p>
						</figcaption>
					  </figure>
					  </a>
					</li>
				  ))
				}
			  </ul>
		  </main>
		  


	</body>
</html>
