---					  
   // Import Stylesheet
// Import Stylesheet
import '../styles/global.css';
import BaseLayout from '../layouts/BaseLayout.astro';
import Header from '../components/Header.astro';
// data source
const baseUrl = 'https://www.dnd5eapi.co';

let detailedData = [];
try {
  // Fetch the list of races
  const res = await fetch(`${baseUrl}/api/races`);
  const listData = await res.json();

  // Fetch detailed data for each race
  detailedData = await Promise.all(
    listData.results.map(async (race) => {
      const detailRes = await fetch(`${baseUrl}${race.url}`);
      const detail = await detailRes.json();
      return detail;
    })
  );

} catch (error) {
  console.error('Error fetching data:', error);
} 
---
			<ul class="cards">
				{
				  detailedData.map(race => (
					<li class="card-item">
					<a href="#">
					  <figure class="card" data-name={race.name}>

						<figcaption class="caption">
						  <h3 class="caption-title" style=" 
						  text-align: center;
						  font-size: 1.5rem;
						  font-family: 'Panchang', sans-serif;
						  ">{race.name}</h3>
						  <p id="type" style="text-align: center; font-size: .75rem; font-family: 'Panchang', sans-serif;">
							<strong>Type:</strong> {race.type || 'DnD Race'}
						  </p>
				  <p class="descriptors"><strong>Alignment:</strong> {race.alignment} </p>	
                  <p class="descriptors"><strong>Age:</strong> {race.age} </p>					  
				  <p class="descriptors"><strong>Speed:</strong> {race.speed} </p>					  				  
                  <p class="descriptors"><strong>Size:</strong> {race.size}: </p>					  
                  <p class="size-descriptor"> * {race.size_description} </p>
						</figcaption>
					  </figure>
					  </a>
					</li>
				  ))
				}
			  </ul>

